@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para la clase de redirección */
.botonRedireccion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}